<div md-theme="dark-theme" class="md-whiteframe-4dp" layout="column" flex>
    <md-toolbar class="md-tall sidenavGreen sidenav-toolbar" layout="column">
        <h3 class="sidenav-community-header" layout="row"><a href="#/">Community - Testnet</a><span flex></span><span ng-click="toggle('left')" class="sidenav-close-button" hide-gt-sm><md-icon md-svg-src="images/icons/ic_close_white_24px"></md-icon></span></h3>
        <span flex></span>
        <div ng-click="goTo('/profile')" class="user-account-color pointer-enabled md-whiteframe-4dp" layout="row" layout-align="left center" style="padding:5px; margin-bottom:10px;">
            &nbsp<md-icon md-svg-src="images/icons/ic_face_white_24px.svg"></md-icon>
            <div layout="column" flex>
                <h5 style="margin: 4px 0px 0px 10px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;"><username account="account" unique="false"></username></h5>
                <div class="md-subhead" style="margin: 0px 0px 0px 10px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;" flex>{{account}}</div>
            </div>
        </div>
    </md-toolbar>
    <md-content style="background-color:rgb(66,66,66);" flex>
        <div class="sidenav-header" layout="row">
            <h3 class="sidenav-header-text">Multis</h3>
            <span flex></span>
            <md-button class="sidenav-settings-button" ng-click="toggleSettings = !toggleSettings" aria-label="settings"><md-icon md-svg-src="images/icons/ic_settings_white_24px.svg"></md-icon></md-button>
        </div>
        <md-list>
            <div class="sidenav-list-item" ng-show="toggleSettings">
                <md-input-container style="margin:0px; margin-top:15px; height:36px; padding:0px;" layout="row" flex>
                    <div>
                        <label>Create Multi</label>
                        <input style="height:36px;" type="text" ng-model="newMulti">
                    </div>
                    <span flex></span>
                    <md-button style="margin:0px;" ng-click="createMulti(newMulti)" aria-label="create multi"><md-icon md-svg-src="images/icons/ic_add_box_white_24px.svg"></md-icon></md-button>
                </md-input-container>
            </div>
            <div class="sidenav-list-item" ng-class="{selected: (multi==activeView && viewType=='m')}" ng-repeat="multi in multis" layout="row">
                <a style="height:36;" ng-href="#/m/{{multi}}" layout layout-align="left center" flex>{{multi | capitalize}}</a>
                <!--<div aria-label="Multi stats" style="color:rgba(255,255,255,0.5); margin:0px;" ng-hide="toggleSettings" style="margin:0px;">
                    2500 <small>vt</small>
                </div>-->
                
                <md-button ng-show="toggleSettings && multi !== 'all' && multi !== 'ungrouped'" style="margin:0px;" ng-click="deleteMulti(multi)" aria-label="remove multi">
                    <md-icon md-svg-src="images/icons/ic_indeterminate_check_box_white_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-list>
        <br>
        <div ng-show="viewType == 'm'" class="sidenav-header" layout="row" layout-align="left center">
            <h3 class="sidenav-header-text" style="padding-left:20px; background-color:#1c6965;">{{activeView | capitalize}}</h3>
        </div>
        <div ng-show="viewType !== 'm'" class="sidenav-header" layout="row" layout-align="left center">
            <h3 class="sidenav-header-text" style="padding: 10px 20px; background-color:#1c6965;">Communities</h3>
        </div>
        <md-list>
            <div class="sidenav-list-item" ng-show="toggleSettings && activeView != 'ungrouped'">
                <md-input-container style="margin:0px; margin-top:15px; height:36px; padding:0px;" layout="row" flex>
                    <div>
                        <label>Add Community</label>
                        <input style="height:36px;" type="text" ng-model="newCommunity">
                    </div>
                    <span flex></span>
                    <md-button style="margin:0px;" ng-click="addCommunity(newCommunity)" aria-label="add community"><md-icon md-svg-src="images/icons/ic_add_box_white_24px.svg"></md-button>
                </md-input-container>
            </div>
            <div class="sidenav-list-item" ng-repeat="community in communities"  ng-class="{selected: (community==activeView && viewType=='c')}"  layout="row">
                <a style="height:36;" ng-href="#/c/{{community}}" layout layout-align="left center" flex>{{community | capitalize}}</a>
                <div style="margin:0px; color:rgba(255,255,255,0.5)"><vote-tokens account="account" community="community"></vote-tokens></div>
                
                <md-button ng-show="toggleSettings && activeView !== 'all'" style="margin:0px;" ng-click="removeCommunity(community)" aria-label="remove community">
                    <md-icon md-svg-src="images/icons/ic_indeterminate_check_box_white_24px.svg">
                </md-button>
            </div>
        </md-list>
        <span flex></span>
    </md-content>
    <div class="sidenavGreen" style="padding:10px;" layout layout-align="center center">
        <a href="https://github.com/ChicoBitcoinJoe/Community-Material-Design" target="_blank" ><h5 style="margin:0px; color:rgba(255,255,255,0.87);">Community created by ChicoBitcoinJoe</h5></a>
    </div>
</div>    
