<md-sidenav flex
    class="md-sidenav-left"
    style="max-width: 300px !important; min-width: 300px !important;"
    layout="column"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-xs')">
    <div layout="column" layout-padding flex>

        <h3 class="cursor" ng-click="goto('/')">Community</h3>

        <div layout="row">
            <md-input-container style="margin: 4px;" flex>
                <label>Browse</label>
                <input ng-model="app.search" type="text">
            </md-input-container>
            <md-button style="min-width: 60px; max-width: 60px;" ng-click="search(app.search)">go</md-button>
        </div>

        <md-divider></md-divider>

        <div ng-show="app.user.isLoggedIn" layout="row" layout-padding>
            <div layout="column">
                {{whois(app.user.address)}}
                <div class="light-text">{{app.user.address.slice(0,6)}}...</div>
            </div>
            <span flex></span>
            <div layout="column" layout-align="start end">
                <div>&diams;{{app.user.balance | fromWei:'ether' | decimals:3}}</div>
                <div>${{(app.user.balance | fromWei:'ether') * (app.price.usd.eth | fromWei:'ether') | decimals:2}}</div>
            </div>
        </div>

        <div ng-show="!app.user.isLoggedIn" layout="row" layout-padding>
            Not logged in.
        </div>

        <md-divider></md-divider>
        
        
        <div style="overflow: auto" layout="column" flex>
            <div class="community-btn"
                ng-class="{'current-community': app.path[1] == 'all'}" 
                ng-click="goto('m/all')">
                All
            </div>
            <div class="community-btn"
                ng-repeat="community in app.user.communities"
                ng-class="{'current-community': app.path[1] == community}" 
                ng-click="goto('c/' + community)">
                {{community}}
            </div>
        </div>
    </div>
</md-sidenav>