<div ng-show="app.view.ready" layout="row" layout-fill>
    <sidenav-left layout="column"></sidenav-left>
    <div layout="column" layout-padding flex>
        <header></header>
        <layout="row">
            <md-input-container class="option-picker" style="margin: 0px 0px 8px 32px;">
                <md-select ng-model="app.view.selectedOption" aria-label="selected option">
                    <md-option ng-repeat="option in app.view.options" value="{{option}}">
                        {{option}}
                    </md-option>
                </md-select>
            </md-input-container>
        </layout>
        <div style="overflow: auto">
            <post ng-repeat="post in posts" post="post"></post>
        </div>
    </div>
</div>