<div layout="row">
    <md-input-container class="option-picker" style="margin: 0px 0px 16px 20px;">
        <md-select ng-model="app.view.selectedOption" aria-label="selected option">
            <md-option ng-repeat="option in app.view.options" value="{{option}}">
                {{option}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="column" flex>
    <div ng-show="app.view.ready" style="overflow-y: auto; overflow-x: hidden;">
        <div ng-repeat="
            post in app.view.posts[community] | 
            orderBy: '-timestamp'
            track by post.transactionHash">
            <post post="post" fallback-gateway="true"></post>
        </div>
    </div>
</div>