.post md-card{
    
}

md-content {
    background-color: #212121;
}
    
md-card-title {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.post-score-color {
    background-color: #79A8A6;
    height: 20px;
}

.post-public-opinion {
    background-color: #79A8A6;
    height: 20px;
}