<md-card md-theme="dark-theme" style="background-color:rgba(50,50,50,1);" layout="row" flex>
    <div ng-if="post.postType == 'image'" class="card-image-{{orientation}}" layout="{{layout}}" layout-align="top center">
        <img class="card-image" ng-src="{{imageSource}}" alt="post image: {{post.postLink}}">
    </div>
    <div layout="column" flex>
        <md-card-title  style="padding-bottom:0px !important;">
            <md-card-title-text class="hover-fx" ng-click="followLink()">
                <div style="max-height:143px; overflow:hidden">
                    <h4 style="margin:0px;margin-bottom:4px;">{{post.postTitle}}<small style="color:rgba(255,255,255,0.5)">
                    &nbsp {{post.postType}}
                    &nbsp <span ng-show="post.postType !== 'self'">{{post.postLink}}</span></small></h4>
                </div>
                <div layout="row" ng-show="post.poster">
                    <h5 style="margin:0px; line-height: 16px;">
                        Posted by &nbsp
                        <span style="line-height: 16px;" class="md-subhead">{{post.poster}}</span>
                        &nbsp to &nbsp
                        <span style="line-height: 16px;" class="md-subhead">{{post.postCommunity}}</span>
                    </h5>
                </div>
            </md-card-title-text>
            <div style="padding:0px 10px; max-height:50px; margin: 8px; background-color:rgba(55,55,55,1)" class="md-whiteframe-4dp" layout layout-align="center center">
                <h3 style="margin:5px;" layout="column" flex>
                    <large>1337</large>
                    <small style="color:rgba(255,255,255,0.5); font-size:small" layout layout-align="center">score</small>
                </h3> 
            </div>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
            </md-card-icon-actions>
            <md-button ng-href="#/c/{{post.postCommunity}}/post/{{ipfsHash}}">Comment</md-button>
        </md-card-actions>
    </div>
    <div ng-if="post.postType == 'video'">
        <video-frame url="videoSourceUrl"></video-frame>
    </div>
</md-card>