.post {
    min-width:600px;
}

md-card {
    padding: 8px;
}

md-card-title {
    padding:0px !important;
}

.post-title-text {
    margin:0px !important;
    margin-right: 5px !important;
    padding:5px !important;
    cursor: pointer !important;
    cursor: hand !important;
}

md-card-actions {
    margin:0px !important;
    margin-right:5px;
    padding-right: 5px;
}

.card-image-horizontal {
    max-width: 152px;
    width:152px;
    padding: 5px;
}

.card-image-vertical {
    max-width: 152px;
    height: 152px;
    padding: 5px;
}

.card-image{
    max-height: 152px;
    max-width: 152px;
    overflow: hidden;
    padding-right: 6px;
}

.md-subhead {
    padding-top: 0px !important;
    color: rgba(255,255,255,0.5);
}

.hover-fx {
    border-radius: 3px;
    text-decoration:none;
    border: none;
    outline: none;
}

.hover-fx:hover{
    background-color: #444;
}

.sidenav-settings-button {
    margin-right:15px;
}