<div>
    <md-card md-theme="dark-theme" layout="column">
        <form style="margin:0px;">
            <h3 layout="row" layout-align="center center">Submit Post</h3>
            <md-radio-group ng-model="newPost.media" layout="row" layout-align="center center">
                <md-radio-button value="self">Self</md-radio-button>
                <md-radio-button value="link">Link</md-radio-button>
                <md-radio-button value="image">Image</md-radio-button>
                <md-radio-button value="video">Video</md-radio-button>
                <md-radio-button value="audio">Audio</md-radio-button>
                <span ng-show="newPost.media !== 'null'">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                <md-radio-button ng-show="newPost.media !== 'null'" value="null">Clear</md-radio-button>
            </md-radio-group>
            <br>
            <md-input-container ng-show="newPost.media !== 'null'" class="md-block">
                <label>Title</label>
                <input ng-model="newPost.title" placeholder="Check your spelling!">
            </md-input-container>
            <md-input-container ng-show="newPost.media !== 'null' && newPost.media !== 'self'" class="md-block">
                <label>{{newPost.media | capitalize}} <span ng-show="newPost.media !== 'link'">Link</span></label>
                <input ng-model="newPost.link">
            </md-input-container>
            <md-input-container ng-show="newPost.media !== 'null'" class="md-block">
                <label>Comment:</label>
                <textarea ng-model="newPost.comment" md-maxlength="15000" rows="5" placeholder="Be polite when interacting with others." md-select-on-focus></textarea>
            </md-input-container>
        </form>
    </md-card>
    <div ng-show="newPost.media !== 'null'" layout layout-align="center center" style="color:rgba(255,255,255,0.87)">
        <h4>- preview -</h4>
    </div>
    <md-card ng-show="newPost.media !== 'null'" md-theme="dark-theme" layout="row" flex>
        <div ng-if="newPost.media == 'image'" class="card-image-{{orientation}}" layout="{{layout}}" layout-align="top center">
            <img class="card-image" ng-src="{{imageSource}}" alt="post image: {{newPost.link}}">
        </div>
        <div layout="column" flex>
            <md-card-title  style="padding-bottom:0px !important;">
                <md-card-title-text><div style="max-height:143px; overflow:hidden">
                    {{newPost.title}}<small style="color:rgba(255,255,255,0.5)">
                    &nbsp {{newPost.media}}
                    &nbsp <span ng-show="newPost.media !== 'self'">{{newPost.link}}</span></small>
                    </div>
                    <span class="md-subhead">{{newPost.community}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                    </md-button>
                </md-card-icon-actions>
                <md-button aria-label="submit post" ng-click="submitPost()">{{submitButtonText}}</md-button>
            </md-card-actions>
        </div>
        <div ng-if="newPost.media == 'video'" class="card-video" layout="column" layout-align="center">
            <iframe width="190" height="120"></iframe>
        </div>
    </md-card>
    <div ng-show="newPost.media !== 'null'" layout layout-align="center center" style="color:rgba(255,255,255,0.87)">
        <h4>- preview -</h4>
    </div>
</div>