<md-toolbar class="header" layout="row" layout-align="left center">
    <md-button hide-gt-md ng-click="toggle('left')"><md-icon>menu</md-icon></md-button><h4>Cryptocurrencies</h4>
    &nbsp
    <md-icon>star_border</md-icon>
    <span flex></span>
    <md-icon>search</md-icon>
</md-toolbar>

<div layout="row" flex>
    <md-content layout="column" flex>
        <post-card post-url="'images/chicobitcoinjoe.jpg'"></post-card>
        <post-card post-url="'images/lady.jpg'"></post-card>
        <post-card post-url="'images/chicobitcoinjoe.jpg'"></post-card>
        <post-card post-url="'images/lady.jpg'"></post-card>
        <post-card post-url="'images/chicobitcoinjoe.jpg'"></post-card>
        <post-card post-url="'images/lady.jpg'"></post-card>
        <post-card post-url="'images/chicobitcoinjoe.jpg'"></post-card>
        <post-card post-url="'images/lady.jpg'"></post-card>
        <post-card post-url="'images/chicobitcoinjoe.jpg'"></post-card>
        <post-card post-url="'images/lady.jpg'"></post-card>
        <post-card post-url="'images/chicobitcoinjoe.jpg'"></post-card>
        <post-card post-url="'images/lady.jpg'"></post-card>
    </md-content>
    <md-content hide show-gt-sm layout="column" flex="55">
        <comment-card comment-url="'images/chicobitcoinjoe.jpg'"></comment-card>
        <comment-card comment-url="'images/lady.jpg'"></comment-card>
        <comment-card comment-url="'images/chicobitcoinjoe.jpg'"></comment-card>
        <comment-card comment-url="'images/lady.jpg'"></comment-card>
        <comment-card comment-url="'images/chicobitcoinjoe.jpg'"></comment-card>
        <comment-card comment-url="'images/lady.jpg'"></comment-card>
        <comment-card comment-url="'images/chicobitcoinjoe.jpg'"></comment-card>
        <comment-card comment-url="'images/lady.jpg'"></comment-card>
        <comment-card comment-url="'images/chicobitcoinjoe.jpg'"></comment-card>
        <comment-card comment-url="'images/lady.jpg'"></comment-card>
        <comment-card comment-url="'images/chicobitcoinjoe.jpg'"></comment-card>
        <comment-card comment-url="'images/lady.jpg'"></comment-card>
    </md-content>
</div>