<md-content md-theme="dark-theme" style="background-color:rgba(50,50,50,1);" layout="column" layout-padding="5" flex>
<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Community Homepage (pre-alpha)</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <h4>Please make sure you have...</h4>
            <ul>
                <li>Exposed the web3 object to your browser (Metamask,Mist,Geth)</li>
                <li>A running ipfs daemon</li>
            </ul>
            <h4>In the event something goes wrong...</h4>
            <ul>
                <li>Clearing local storage can help with corrupted profile data (you will lose your personal data but not purchased tokens!)</li>
                <li>Hard Refresh the page (ctrl+shift+r)</li>
            </ul>
            <md-button ng-disabled="true">clear local storage (not implemented yet)</md-button>
        </md-card-content>
    </md-card>
</div>
</md-content>
