<div>
    <md-card md-theme="dark-theme" class="sidenavGreen" style="margin: 0px {{marginRight}}px {{marginBottom}}px {{marginLeft}}px; padding: 8px 0px 0px {{paddingLeft}}px; border-left: {{borderWidth}}px solid #242424; border-top: {{borderTop}}px solid #242424; border-bottom:0px solid #242424; background-color:rgba(55,55,55,1);" layout="column">
        <div layout="row">
            <md-button style="margin:0px 0px 0px 5px; max-height:36px;">
                <md-icon md-svg-src="images/icons/ic_indeterminate_check_box_white_24px.svg"></md-icon>
            </md-button>
            <div layout="column" flex>
                <md-card-content style="margin-right:8px; margin-bottom:8px; margin-Left:8px; padding:8px;">
                    <div layout="row">
                        <h5 style="margin:0px; line-height: 16px;">
                            <span style="line-height: 16px;" class="md-subhead"><small>{{newComment.poster}}</small></span>
                        </h5>
                    </div>
                    <div style="margin-top:5px;">
                        <textarea class="comment-textarea" rows="5" ng-model="newComment.postComment" placeholder="Please be polite when interacting with others."></textarea>
                    </div>
                </md-card-content>
                <md-card-actions>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="Favorite">
                                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Share">
                                <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                            </md-button>
                            <span flex></span>
                            <md-button ng-click="submitComment()" style="margin-bottom:8px;">Submit Comment</md-button>
                        </md-card-icon-actions>
                    </md-card-actions>
                </md-card-actions>
            </div>
        </div>
    </md-card>
</div>