<md-content md-theme="dark-theme" style="background-color:rgba(50,50,50,1);" layout="column" layout-padding="5" flex>
<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Community Development Funding</span>
                <span class="sidenavGreen md-whiteframe-4dp" style="padding:15px; margin-top:10px; margin-bottom:10px;">Funding Community development will help provide the best experience possible for <b>you</b>. In return you will also be given tokens to use for public voting.</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <h4>Token Behavior</h4>
            <ul>
                <li>Cannot be bought for another user</li>
                <li>Cannot be traded</li>
                <li>Tokens are watermarked to a single Community</li>
            </ul>
        </md-card-content>
    </md-card>
</div>
<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"><small>Current {{activeView | capitalize}} Tokens: 0</small></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row">
            <div flex="40" layout="column">
                <md-input-container>
                    <label>Ether</label>
                    <input md-select-on-focus type="number" ng-model="fundAmount">
                </md-input-container>
                <md-button aria-label="Fund Development" ng-click="fundDevelopment()" class="sidenavGreen">Fund Development</md-button>
            </div>
            <div flex="60">
                <div layout="column" layout-align="center center">
                    <div>For {{fundAmount}} Ether you:</div>
                    <ul>
                        <li>Get <b>{{fundAmount * 100000}}</b> vote tokens for the <b>{{activeView | capitalize}}</b> Community</span><span flex></span></li>
                        <li>Fund <b>{{fundAmount*10*60/0.7 | round}}</b> minutes of Community development</li>
                    </ul>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row">
            <span flex></span>
        </md-card-actions>
    </md-card>
</div>
</md-content>