<md-content md-theme="dark-theme" style="background-color:rgba(50,50,50,1);" layout="column" layout-padding="5" flex>
<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{activeView | capitalize}} Statistics</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <h4>Stats will include things like</h4>
            <ul>
                <li>Trends and charts</li>
                <li>Need more...</li>
            </ul>
        </md-card-content>
    </md-card>
</div>
</md-content>
