.comment md-card-header {
    padding-bottom: 0px;
}

md-content {
    background-color: #212121;
}

md-card-title {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.comment-card-content {
    cursor: pointer;
    cursor: hand;
}

.comment-score-color {
    background-color: #4D8987;
    height:24px;
    padding:2px;
}

::-webkit-scrollbar {
   display: none;
}

md-card-content:focus {
    outline: none;
    border: 0;
}