.comment-hover-fx {
    border-radius: 1px;
    text-decoration:none;
    border: none;
    outline: none;
}

.comment-hover-fx:hover{
    background-color: #444;
}

md-card {
    box-shadow: none !important;
}

.comment p {
    margin: 0px;
}

.comment h1,h2,h3,h4,h5 {
    margin: 8px 0px;
}